doctype html
html
  head(lang="ru")
    include layout/__head
  body(data-color="dark").inner
    include layout/__header
    section.content
      section.container
        section.page__top
          h1 «Агрокультура Групп» — это максимально эффективная адаптация к изменениям
          section.breadcrumbs
            a(href="#").breadcrumbs__href Главная
            span.breadcrumbs__delim /
            a(href="#").breadcrumbs__href Новости
            span.breadcrumbs__delim /
        section.page__withside
          aside.page__aside.js-aside-sticky
            .page__aside-sticky
              .news__another-row
                p.news__another-title следующая новость<br>от 12 января 2018
                a(href="#").news__another-href 
                  span «Агрокультура Групп» запустил третью очередь теплиц
              .news__another-row
                p.news__another-title Предыдущая новость<br>от 6 декабря 2017
                a(href="#").news__another-href 
                  span Бренд «Зелёный Стандарт» стал лауреатом премии «Здоровое питание»
          section.page__content
            p «Агрокультура Групп» – союз дисциплины и инноваций.
            p Вопрос эффективности управления современным тепличным производством в постоянно меняющихся рыночных условиях волнует, пожалуй, всех без исключения профессионалов отрасли. Успешным опытом решения этой задачи на 2-м международном инвестиционном форуме «Тепличные комплексы России-2017» поделился, генеральный директор «Агрокультура Групп», крупнейшего российского комплекса теплиц круглогодичного цикла.
            img(src="img/text.jpg")
            p Основной руководящий состав и штат специалистов сформирован из профессионалов, имеющих профильное высшее образование и релевантный опыт работы. Коллектив хозяйства включает преимущественно местное население.
            h3 Трудности управления
            p Чтобы коллеги смогли объективно оценить масштабы этого производства, расположенного в Каширском районе, в начале своего выступления приведено несколько цифр, характеризующих динамику развития предприятия: «Сегодня, после запуска 25 Га третьей очереди теплиц, суммарная площадь ТК «Агрокультура Групп» достигла 68,5 Га. На них ежегодно выращивается свыше 25 тысяч тонн овощей более 25 сортов, преимущественно томатов. Таким образом, крупнейший в России проект уже реализован более чем на 60 %. К концу 2018 года общая площадь комплекса составит 80 Га».
            p С ростом площадей увеличились численность персонала, объемы продаж, а перед руководством предприятия, впрочем вполне предсказуемо, встала сложная задача со многими неизвестными: как эффективно выстроить работу производственного комплекса, раскинувшегося на десятки гектаров, в непрерывно меняющихся рыночных условиях?
            p.news__inner-date 15 мая 2018
            a(href="#").common__back Вернуться к списку новостей
            include blocks/footer
            -var data = {}
            +footer(data)
            
    include layout/__scripts