doctype html
html
  head(lang="ru")
    include layout/__head
  body(data-color="dark").inner
    include layout/__header
    section.content
      section.container
        section.page__top
          h1 Довольно-таки большой заголовок первого уровня
          section.breadcrumbs
            a(href="#").breadcrumbs__href Главная
            span.breadcrumbs__delim /
            a(href="#").breadcrumbs__href Компания
            span.breadcrumbs__delim /
        section.page__withside
          aside.page__aside
          section.page__content
            p Мы обеспечиваем стабильно высокий уровень сбора и качества урожая за счет применения самых современных технологий, экологических методов защиты растений, а также осуществления строгого санитарного контроля. Все наши овощи выращиваются в закрытом грунте с соблюдением всех норм и конечно же проходят строгий саниторный контроль.
            p В 2017 году урожай составил 20500 тонн. В 2018 составит 43330 тонн, в 2019 – 62930, а в 2020 – 82530. В 2019 году объем выращенных томатов составит 40600 тонн, а в 2020 году – 60200 тонн.
            h2 Довольно таки большой, аж в две строки, заголовок второго уровня
            p Наши томаты идеально подходят для различных салатов, соков и томатных паст, а так же для потребления в свежем виде. И конечно они очень полезны из-за повышенной концентрации ликопина в мякоти. 
            ul
              li Гладкий длиноплодный огурец (лоэнгрин),
              li гладный среднеплодный огурец (мева),
              li огурец бакинский,
              li томат Черри Кумато,
              li томат Дольче Вита.
            p Основной руководящий состав и штат специалистов сформирован из профессионалов, имеющих профильное высшее образование и релевантный опыт работы. Коллектив хозяйства включает преимущественно местное население.
            ol
              li Гладкий длиноплодный огурец (лоэнгрин).
              li Гладный среднеплодный огурец (мева).
              li Огурец бакинский.
              li Томат Черри Кумато.
              li Томат Дольче Вита.
            p В 2017 году урожай составил 20500 тонн. В 2018 составит 43330 тонн, в 2019 – 62930, а в 2020 – 82530. В 2019 году объем выращенных томатов составит 40600 тонн, а в 2020 году – 60200 тонн.
            h3 Довольно таки большой, аж в две строки, заголовок третьего уровня
            p Мы обеспечиваем стабильно высокий уровень сбора и качества урожая за счет применения самых современных технологий, экологических методов защиты растений, а также осуществления строгого санитарного контроля. Все наши овощи выращиваются в закрытом грунте с соблюдением всех норм и конечно же проходят строгий саниторный контроль.
            img(src="img/text.jpg")
            p В 2017 году урожай составил 20500 тонн. В 2018 составит 43330 тонн, в 2019 – 62930, а в 2020 – 82530. В 2019 году объем выращенных томатов составит 40600 тонн, а в 2020 году – 60200 тонн.
            p Наши томаты идеально подходят для различных салатов, соков и томатных паст, а так же для потребления в свежем виде. И конечно они очень полезны из-за повышенной концентрации ликопина в мякоти. 
            table
              thead
                tr
                  th Продукт
                  th Объем продаж, тонн
                  th Старт продаж
              tbody
                tr
                  td Гладкий длиноплодный огурец (лоэнгрин)
                  td 2380
                  td Январь 2016
                tr
                  td Гладкий среднеплодный огурец (мева)
                  td 1920
                  td Март 2016
                tr
                  td Огурец бакинский
                  td 1780
                  td Январь 2016
                tr
                  td Томат Черри Кумато
                  td 2500
                  td Январь 2016
                tr
                  td Томат Дольче Вита
                  td 1470
                  td Январь 2016
            p Основной руководящий состав и штат специалистов сформирован из профессионалов, имеющих профильное высшее образование и релевантный опыт работы. Коллектив хозяйства включает преимущественно местное население.
            include blocks/footer
            -var data = {}
            +footer(data)
            
    include layout/__scripts