doctype html
html
  head(lang="ru")
    include layout/__head
  body(data-color="dark").inner
    include layout/__header
    section.content
      section.container
        section.page__top
          h1 Разводящая страница ссылок на страницы
          section.breadcrumbs
            a(href="#").breadcrumbs__href Главная
            span.breadcrumbs__delim /
        section.page__withside
          aside.page__aside
          section.page__content
            ul
              li
                a(href="index") Главная
              li
                a(href="404") 404
              li
                a(href="about") О компании
              li
                a(href="career") Карьера
              li
                a(href="career-inner") Карьера (внутренняя)
              li
                a(href="catalog") Каталог
              li
                a(href="contacts") Контакты
              li
                a(href="news") Новости
              li
                a(href="news-inner") Новости (внутренняя)
              li
                a(href="text") Типовая текстовая
            include blocks/footer
            -var data = {}
            +footer(data)
            
    include layout/__scripts