.iveg
  &__over
    pl 187px
    pos relative
    @media $desktopMin
      pl 0
    &.hide
      & ^[0]
        &__title
        &__hrefover,
        &__icon,
        &__bottom
          l -20px
          opacity 0
          transition .7s opacity, .7s left
    &.absolute
      pos absolute
      left -100%
  &__back
    cursor pointer
    pos absolute
    w 27px
    h 25px
    l 10px
    t 30px
    opacity 0
    background url('../i/arleft_black.png') no-repeat 0 -756px
    transition .5s left, .5s opacity
    &:hover
      animation arrAnimation 1s steps(28)
  &__icon
    pos absolute
    t 20px 
    l 0
    ml -68px
    opacity 0
    transition .7s opacity, .7s top, .7s left
    @media $lDesktopMax
      ml 0
    @media $desktopMin
      pos static
      db()
      ml 0
      mb 30px
    @media $LandscapeMedium
      mb 15px
      w 103px
  &__title
    pos relative
    color $dark
    fontify 42px 400 46px
    mb 10px
    max-width 630px
    b -20px
    l 0
    opacity 0
    transition .7s opacity, .7s bottom, .7s left
    @media $lDesktopMax
      fontify 38px 400 42px
    @media $lDesktopMedium
      fontify 36px 400 40px
      mb 17px
    @media $LandscapeMedium
      fontify 23px 400 27px
      max-width 240px
    @media $PortraitMin
      mb 10px
  &__hrefover
    pos relative
    mb 50px
    color $dark
    fontify 160px 700 164px
    max-width 1376px
    ml -6px
    b -20px
    l 0
    opacity 0
    transition .7s opacity, .7s bottom, .7s left
    @media $lDesktopMax
      fontify 130px 700 133px
    @media $lDesktopMedium
      fontify 114px 700 118px
    @media $lDesktopSmall
      w calc(100% + 40px)
    @media $desktopMax
      fontify 84px 700 93px
      max-width 730px
      w 100%
    @media $desktopMin
      max-width 460px
    @media $LandscapeMedium
      fontify 0px 700 52px
      overflow hidden
      mb 30px
      ml 0
    @media $PortraitMin
      line-height 43px
  &__href
    ib()
    cursor pointer
    pos relative
    color $dark
    fontify 160px 700 164px
    @media $lDesktopMax
      fontify 130px 700 133px
    @media $lDesktopMedium
      fontify 114px 700 118px
    @media $desktopMax
      fontify 84px 700 93px
    @media $LandscapeMedium
      fontify 48px 700 52px
      float left
      clear both
      & + &
        mt 10px
        @media $PortraitMin
          mt 5px
    @media $PortraitMin
      fontify 36px 700 43px
    &:after
      content ""
      bgc $dark
      pos absolute
      b 10px
      l 0
      w 100%
      h 3px
      transition .7s bottom, .7s opacity
      @media $LandscapeMedium
        b 2px
        h 2px
    &:before
      content ""
      pos absolute
      opacity 0
      transition .7s opacity, .7s top
      @media $LandscapeMedium
        dn()
    &[data-type="tomato"]:before
      size 123px
      background url('../i/tomato-hover.png') no-repeat center
      background-size 100% 100%
      l 45px
      t 48px
      @media $lDesktopMax
        size 110px
        l 34px
      @media $lDesktopMedium
        size 87px
      @media $desktopMax
        size 67px
        l 23px
    &[data-type="tomato"]:hover:before
      t 37px
      @media $lDesktopMax
        t 28px
      @media $desktopMin
        t 26px
    &[data-type="cucumber"]:before
      size 80px 173px
      background url('../i/cucumber-hover.png') no-repeat center
      background-size 100% 100%
      l 150px
      t 37px
      @media $lDesktopMax
        size 60px 130px
        l 124px
      @media $lDesktopMedium
        size 51px 110px
        l 110px
      @media $desktopMax
        size 42px 90px
        l 77px
    &[data-type="cucumber"]:hover:before
      t 27px
      @media $lDesktopMax
        t 28px
      @media $desktopMax
        t 26px
    &[data-type="peppers"]:before
      size 122px 120px
      background url('../i/pepper-hover.png') no-repeat center
      background-size 100% 100%
      l 150px
      t 37px
      @media $lDesktopMax
        size 102px 100px
        l 124px
      @media $lDesktopMedium
        size 82px 80px
        l 110px
      @media $desktopMax
        size 61px 60px
        l 84px
    &[data-type="peppers"]:hover:before
      t 27px
      @media $lDesktopMax
        t 28px
      @media $desktopMax
        t 26px
    &[data-type="eggplant"]:before
      size 72px 187px
      background url('../i/eggplant-hover.png') no-repeat center
      background-size 100% 100%
      r -28px
      t 13px
      @media $lDesktopMax
        size 56px 145px
        r -16px
      @media $lDesktopMedium
        size 47px 122px
      @media $desktopMax
        size 39px 101px
        r -12px
    &[data-type="eggplant"]:hover:before
      t 3px
      @media $desktopMax
        t 1px
    &:hover
      background-size 100% 0px
      &:after
        b 5px
        opacity 0
      &:before
        opacity 1
  &__bottom
    display flex
    justify-content space-between
    pos relative
    l 0
    transition .7s opacity, .7s left
    transition-delay 1.2s
    @media $desktopMax
      justify-content flex-start
  &__content
    pl 102px
    pos relative
    @media $desktopMax
      max-width 320px
    @media $LandscapeMedium
      dn()
    &:before
      content ""
      pos absolute
      l 6px
      t 11px
      w 0
      h 1px
      bgc $dark
      transition .7s width
  &__text
    color $dark
    fontify 16px 400 23px
    mb 30px
    max-width 430px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 14px 400 21px
  &__catover
    w 460px
    @media $desktopMax
      w auto
      ml 50px
    @media $LandscapeMedium
      ml 0
  &__tocat
    pos relative
    color $dark
    fontify 14px 700 23px
    text-transform uppercase
    letter-spacing .1em
    border-bottom 1px solid alpha($dark, .25)
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom, .7s border
    @media $lDesktopMedium
      fontify 12px 700 21px
    &:hover
      border-color transparent
  &__type
    *
      user-select none
    .h-step1
      pos relative
      t 0
      opacity 1
      transition .7s top, .7s opacity
    .h-step2
      pos absolute
      l -200%
      b -20px
      opacity 0
      transition .7s bottom, .7s opacity
    &.absolute
      pos absolute
      l -200%
    &.step2-starter
      .h-step1
        t -20px
        opacity 0
    &.step2
      & ^[0]__type-col:last-child
        pt 255px
        @media $desktopMax
          pt 155px
      .h-step1
        pos absolute
        l -200%
        t -20px
        opacity 0
      .h-step2
        l 0
        pos relative
        b 0
        opacity 1
      & ^[0]__type-dots
        opacity 0
        transition-delay 0s
      & ^[0]__type-col
        pos relative
        z-index 2
    &.step1-starter
      .h-step2
        b -20px
        opacity 0
    &:not(.hide)
      & ^[0]__back
        opacity 1
        l 30px
        transition-delay 1.4s
      & ^[0]__type
        &-anim
          opacity 1
          t 50%
          transition-delay 1s
        &-title
          opacity 1
          b 0
          transition-delay .2s
        &-square,
        &-text
          opacity 1
          b 0
          transition-delay .4s
        &-square-sub,
        &-future
          opacity 1
          b 0
          transition-delay .6s
        &-future:before
          w 70px
          transition-delay .8s
        &-hint
          opacity 1
          b 0
          transition-delay 1.2s
    &:not(.hide):not(.step2)
      & ^[0]__type
        &-dots
          opacity 1
          transition-delay .6s
    &-anim
      pos absolute
      t 52%
      l 50%
      z-index 1
      transform translate(-50%, -50%)
      opacity 0
      size 998px 944px
      transition .7s opacity, .7s top
      @media $lDesktopMax
        transform translate(-50%, -50%) scale(.8)
      @media $lDesktopMedium
        transform translate(-50%, -50%) scale(.65)
      @media $desktopMax
        transform translate(-50%, -50%) scale(.55)
      &[data-type="tomato"]
        background url('../i/tomato-seq.png') no-repeat 0 0
        transform translate(-52%, -50%)
        @media $lDesktopMax
          transform translate(-52%, -50%) scale(.8)
        @media $lDesktopMedium
          transform translate(-52%, -50%) scale(.65)
        @media $desktopMax
          transform translate(-52%, -50%) scale(.55)
      &[data-type="cucumber"]
        background url('../i/cucumber-seq.png') no-repeat 0 0
      &[data-type="peppers"]
        background url('../i/pepper-seq.png') no-repeat 0 0
      &[data-type="eggplant"]
        background url('../i/eggplant-seq.png') no-repeat 0 0
        transform translate(-44%, -53%)
        @media $lDesktopMax
          transform translate(-44%, -53%) scale(.8)
        @media $lDesktopMedium
          transform translate(-45%, -53%) scale(.65)
        @media $desktopMax
          transform translate(-46%, -52%) scale(.55)
    &-title
      color #181818
      fontify 240px 700 173px
      text-align center
      mb 50px
      pl 17px 
      pos relative
      b -20px
      opacity 0
      @media $lDesktopMax
        fontify 200px 700 144px
      @media $desktopMax
        fontify 140px 700 106px
      transition .7s opacity, .7s bottom
    &-cols
      display flex
      justify-content space-between
      align-items stretch
    &-col
      w 462px
      &_spacer
        w 676px
        align-self flex-end
    &-square
      color $dark
      fontify 120px 400 144px
      mb 15px
      ml -5px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMax
        fontify 98px 400 82px
        mb 35px
      @media $lDesktopSmall
        fontify 84px 400 82px
      @media $desktopMax
        fontify 76px 400 82px
      &-sub
        color $dark
        fontify 42px 400 46px
        max-width 410px
        mb 66px
        pos relative
        b -20px
        opacity 0
        transition .7s opacity, .7s bottom
        @media $lDesktopSmall
          fontify 32px 400 36px
        @media $lDesktopMedium
          mb 45px
        @media $desktopMax
          fontify 28px 400 35px
    &-text
      color $dark
      fontify 46px 400 46px
      mb 40px
      pt 104px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopSmall
        fontify 32px 400 36px
      @media $lDesktopMedium
        pt 94px
      @media $desktopMax
        fontify 28px 400 35px
        pt 64px
    &-future
      color $dark
      fontify 16px 400 23px
      pl 99px
      pos relative
      max-width 410px
      mb 66px
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        mb 45px
      @media $lDesktopMedium
        fontify 14px 400 21px
      @media $desktopMedium
        pl 0
      &:before
        content ""
        pos absolute
        l 6px
        t 11px
        w 0
        h 1px
        bgc $dark
        transition .7s width
        @media $desktopMedium
          dn()
    &-hint
      color $dark
      fontify 16px 400 23px
      pos relative
      max-width 220px
      //margin 0 auto
      //text-align center
      mt 90px
      max-width 160px
      
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 14px 400 21px
      &:before
        content ""
        pos absolute
        size 97px 21px
        t -31px
        //l 50%
        //ml -40px
        l 0
        background url('../i/cut-icon.gif') no-repeat center
    &-mainfeat
      color $dark
      fontify 120px 700 124px
      mb 58px
      @media $lDesktopMax
        fontify 98px 700 104px
      @media $lDesktopSmall
        fontify 84px 700 82px
      @media $desktopMax
        fontify 76px 400 72px
        mb 38px
    &-name
      color $dark
      fontify 16px 400 23px
      pl 130px
      @media $lDesktopMedium
        fontify 14px 400 21px
      @media $desktopMax
        pl 80px
    &-tocat
      ib()
      color $dark
      fontify 14px 700 16px
      text-transform uppercase
      letter-spacing .1em
      mt -28px
      ml 3px
      pos relative
      &:after
        content ""
        pos absolute
        bgc alpha($dark, .25)
        w 100%
        h 1px
        b 0
        l 50%
        transform translateX(-50%)
        transition .7s width
      &:hover:after
        w 0

    &-dots
      pos absolute
      z-index 2
      t 50%
      l 50%
      opacity 0
      transition .7s opacity
      //bgc alpha(yellow, .2)
    &-start
      pos absolute
      cursor pointer
      size 40px
      background-color #9caf35
      border-radius 50%
    &-end
      pos absolute
      size 40px
      border 2px solid #9caf35
      border-radius 50%
    &[data-type="tomato"]
      & ^[0]__type
        &-dots
          w 592px
          h 206px
          mt -103px
          ml -296px
          @media $lDesktopMax
            w 492px
            ml -246px
          @media $lDesktopSmall
            w 400px
            ml -200px
        &-start
          l 27px
          t 164px
        &-end
          r 23px
          t 0
    &[data-type="cucumber"]
      & ^[0]__type
        &-dots
          w 592px
          h 860px
          mt -430px
          ml -296px
          @media $lDesktopMax
            w 492px
            ml -246px
            h 660px
            mt -330px
          @media $lDesktopSmall
            w 450px
            ml -225px
          @media $desktopMax
            h 560px
            mt -280px
        &-start
          l 106px
          t 820px
          @media $lDesktopMax
            t 620px
          @media $desktopMax
            t 520px
        &-end
          r 73px
          t 0  
    &[data-type="peppers"]
      & ^[0]__type
        &-dots
          w 592px
          h 206px
          mt -103px
          ml -296px
          @media $lDesktopMax
            w 492px
            ml -246px
          @media $lDesktopSmall
            w 400px
            ml -200px
        &-start
          l 27px
          t 164px
        &-end
          r 23px
          t 0
    &[data-type="eggplant"]
      & ^[0]__type
        &-dots
          w 592px
          h 860px
          mt -430px
          ml -296px
          @media $lDesktopMax
            w 532px
            ml -266px
            h 660px
            mt -350px
          @media $lDesktopSmall
            w 450px
            ml -225px
            mt -360px
          @media $desktopMax
            h 560px
            mt -300px
        &-start
          l 106px
          t 820px
          @media $lDesktopMax
            t 620px
            l 136px
          @media $desktopMax
            t 520px
          @media $desktopMax
            l 106px
        &-end
          r 73px
          t 0  
          @media $lDesktopMax
            r 43px
          @media $desktopMax
            r 73px
.catalog
  h 100vh
  &page
    pos relative
    z-index 1
    bgc $dark
    &:before
      content ""
      position fixed
      l 0
      t 0
      w 100vw
      h 100vh
      z-index 0
      opacity .5
      background url('../i/inner-bg.jpg') no-repeat center
      background-size cover
  > .swiper-wrapper
    transition-timing-function cubic-bezier(0.86, 0, 0.07, 1)
  .swiper-slide
    bgc white
    h 100%
    pos relative
    z-index 1
    overflow hidden
    &:first-child
      bgc transparent
      display flex
      flex-direction column
    &-active
      & ^[0]
        &__top
          opacity 1
          b 0
          transition-delay .8s
        &__about-text
          opacity 1
          b 0
          transition-delay 1.2s
        &__about-imgover
          opacity 1
          b 0
          transition-delay 1.4s
        &__types-over
          opacity 1
          b 0
          transition-delay 1.8s
        &__hrefs
          opacity 1
          b 0
          transition-delay 1.2s
        &__categories
          opacity 1
          t 25px
          transition-delay .8s
        &__elem
          &-sort
            opacity 1
            b 0
            transition-delay 1s
          &-name
            opacity 1
            b 0
            transition-delay 1.2s
          &-text
            opacity 1
            b 0
            transition-delay 1.4s
            &:before
              w 70px
              transition-delay 1.6s
        &__car-over,
        &__car-counter
          opacity 1
          b 0
          transition-delay 1s
        &__buttons
          opacity 1
          b 70px
          transition-delay 1s
          @media $LandscapeMedium
            b 35px
          @media $PortraitMedium
            b 115px
  &__top
    padding 190px 0 170px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopSmall
      padding 190px 0 64px
    @media $LandscapeMedium
      padding 150px 0 35px
    .breadcrumbs
      mb 0
  &__about
    display flex
    justify-content space-between
    &-text
      pos relative
      w calc(100% - 504px)
      max-width 880px
      pt 115px
      mr 42px
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopSmall
        w calc(100% - 404px)
        pt 76px
      @media $desktopMin
        pt 55px
        w calc(100% - 270px)
      @media $LandscapeMedium
        w 100%
        pt 35px
        mr 0
      p:not([class])
        fontify 26px 400 33px
        @media $lDesktopSmall
          fontify 23px 400 30px
        @media $desktopMedium
          fontify 20px 400 27px
        @media $LandscapeMedium
          fontify 14px 400 21px
    &-imgover
      pos relative
      mt -123px
      w 462px
      text-align center
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopSmall
        w 344px
        mt -95px
      @media $desktopMin
        w 240px
        mt -55px
      @media $LandscapeMedium
        dn()
    &-img
      max-width 80%
  &__white
    bgc white
    flex-grow 1 
  &__hrefs
    display flex
    h 100vh
    align-content center
    pos relative
    z-index 1
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
  &__vegs
    pos absolute
    z-index -1
    t 50%
    l 50%
    w 1850px
    h 890px
    ml -925px
    mt -445px
    will-change transform
    @media $lDesktopSmall
      l 66%
    @media $desktopMax
      l 50%
    @media $desktopMedium
      l -390px
      ml 0
      transform scale(.8)
    @media $desktopMin
      transform scale(.6)
      l -515px
    @media $PortraitMedium
      l -566px
      transform scale(.54)
  &__veg
    pos absolute
    transform scale(1)
    will-change transform
    transition .7s transform, .7s opacity
    &.hidden
      transform scale(.5)
      opacity .3
    &[data-type="tomatos"]
      size 94px 90px
      background url('../i/vegs/tomato.png') no-repeat center
      &[data-variant="variant2"]
        size 81px 81px
        background url('../i/vegs/tomato2.png') no-repeat center
    &[data-type="eggplant"]
      size 72px 187px
      background url('../i/vegs/eggplant.png') no-repeat center
    &[data-type="cucumbers"]
      size 30px 168px
      background url('../i/vegs/cucumber.png') no-repeat center
      &[data-variant="variant2"]
        size 168px 30px
        background url('../i/vegs/cucumber2.png') no-repeat center
    &[data-type="peppers"]
      size 88px 95px
      background url('../i/vegs/pepper.png') no-repeat center
      &[data-variant="variant2"]
        size 95px 93px
        background url('../i/vegs/pepper2.png') no-repeat center
      &[data-variant="variant3"]
        size 67px 66px
        background url('../i/vegs/pepper3.png') no-repeat center
    &.veg1
      t 36px
      l 44px
    &.veg2
      t 2px
      l 296px
    &.veg3
      t 34px
      l 526px
    &.veg4
      t 34px
      l 765px
    &.veg5
      t 0
      l 1036px
    &.veg6
      t 48px
      l 1258px
    &.veg7
      t 42px
      l 1492px
    &.veg8
      t 36px
      l 1727px
    &.veg9
      t 289px
      l 57px
    &.veg10
      t 280px
      l 764px
    &.veg11
      t 306px
      l 967px
    &.veg12
      t 241px
      l 1257px
    &.veg13
      t 275px
      l 1484px
    &.veg14
      t 238px
      l 1757px
    &.veg15
      t 516px
      l 44px
    &.veg16
      t 528px
      l 778px
    &.veg17
      t 523px
      l 1011px
    &.veg18
      t 516px
      l 1247px
    &.veg19
      t 518px
      l 1484px
    &.veg20
      t 483px
      l 1737px
    &.veg21
      t 719px
      l 76px
    &.veg22
      t 768px
      l 298px
    &.veg23
      t 723px
      l 537px
    &.veg24
      t 753px
      l 767px
    &.veg25
      t 756px
      l 1005px
    &.veg26
      t 786px
      l 1207px
    &.veg27
      t 756px
      l 1487px
    &.veg28
      t 756px
      l 1724px
  &__types
    &-item
      & + &
        mt 60px
        @media $lDesktopSmall
          mt 44px
        @media $desktopMedium
          mt 30px
        @media $desktopMin
          mt 20px
        @media $PortraitMedium
          mt 15px
    &-href
      pos relative
      l 0
      color $dark
      fontify 72px 400 48px
      transition .7s color, .7s left
      @media $lDesktopSmall
        fontify 60px 400 48px
      @media $desktopMedium
        fontify 50px 400 48px
      @media $desktopMin
        fontify 36px 400 40px
      &:hover
        color $green
        left 15px
    &-over
      align-self center
      max-width 1226px
      w 100%
      margin 0 auto
      display flex
      justify-content space-between
      align-items stretch
      pos relative
      z-index 1
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopSmall
        max-width 861px
      @media $desktopMax
        max-width 100%
        padding 0 30px
      @media $LandscapeMedium
        padding 0 20px
      @media $LandscapeMedium
        flex-direction column
  &__buttons
    w 100%
    pos absolute
    z-index 2
    b 45px
    opacity 0
    r 0
    transition .7s bottom, .7s opacity
    @media $LandscapeMedium
      b 10px
    @media $PortraitMedium
      b 30px
    @media $PortraitMedium
      b 90px
      dn()
    .container
      display flex
      justify-content flex-end
    .swiper-buttons
      w 85px
      display flex
      justify-content space-between
      pos relative
      h 27px
      @media $desktopMax
        l auto
        b auto
      @media $LandscapeMedium
        w 65px
      @media $PortraitMedium
        w 100%
    .swiper-button-prev
      background-image url(../i/arleft_black.png)
      l 0
      @media $PortraitMedium
        l 50%
        ml -35px
    .swiper-button-next
      background-image url(../i/arright_black.png)
      r 0
      @media $PortraitMedium
        r 50%
        mr -35px
  &__categories
    w 100%
    pos absolute
    z-index 2
    l 0
    opacity 0
    t 45px
    transition .7s opacity, .7s top
    @media $PortraitMin
      dn()
    &-elem
      cursor pointer
      color $dark
      fontify 26px 400 30px
      transition .7s color
      @media $lDesktopMedium
        fontify 23px 400 30px
      @media $LandscapeMedium
        fontify 18px 400 24px
      @media $LandscapeMedium
        fontify 14px 400 14px
      & + &
        ml 32px
        @media $desktopMin
          ml 22px
        @media $LandscapeMedium
          ml 15px
        @media $PortraitMin
          ml 5px
      &:hover,
      &.active
        color $green
  &__elem
    w 462px
    pt 70px
    @media $lDesktopMedium
      w 350px
    @media $desktopMin
      pt 0
      display flex
      flex-direction column
      justify-content center
    @media $LandscapeMedium
      dn()
    &-name
      pos relative
      b -25px
      opacity 0
      color $dark
      fontify 42px 400 46px
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 36px 400 40px
      @media $desktopMin
        fontify 30px 400 34px
      @media $PortraitMedium
        fontify 24px 400 30px
    &-text
      mt 39px
      pl 99px
      pos relative
      b -25px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $desktopMin
        pl 0
      @media $desktopMin
        mt 19px
      p:not([class])
        fontify 16px 400 23px
        margin 13px 0
        @media $lDesktopMedium
          fontify 14px 400 21px
        @media $LandscapeMax
          fontify 20px 400 27px
      &:before
        content ""
        pos absolute
        l 0
        t 11px
        w 0
        h 1px
        bgc $dark
        transition .7s width
        @media $desktopMin
          dn()
    &-info
      w 100%
      pos absolute
      z-index 2
      b 66px
      l 0
      @media $LandscapeMedium
        b 30px
    &-sort
      pos relative
      b -25px
      opacity 0
      color $dark
      fontify 120px 400 108px
      font-size 120px
      font-weight 400
      line-height 118px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 100px 400 108px
      @media $desktopMin
        fontify 80px 400 84px
      @media $LandscapeMedium
        fontify 60px 400 64px
      @media $PortraitMedium
        fontify 45px 400 45px
  &__car
    h 100%
    &-over
      ml -160px
      w calc(100% - 302px)
      h 100vh
      pos relative
      b -25px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        w calc(100% - 229px)
        ml -115px
      @media $desktopMin
        w calc(100% - 350px)
        ml 0
      @media $LandscapeMedium
        w calc(100% + 40px)
        ml -20px
      &:before
        content ""
        pos absolute
        z-index 2
        t 0 
        h 100%
        r 0
        w 10%
        background linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
        @media $LandscapeMedium
          dn()
      .swiper-slide
        display flex
        align-items center
        justify-content center
        transition .7s width
        &-active
          .catalog__car-img
            max-width 60%
      .swiper-slide-duplicate-active
        .catalog__car-img
          max-width 60%
    &-counter
      pos relative
      b -25px
      opacity 0
      color $dark
      fontify 42px 400 42px
      mb 3px
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 36px 400 42px
        mb 0
      @media $desktopMin
        fontify 30px 400 34px
      @media $LandscapeMedium
        fontify 23px 400 23px
        mb 3px
    &-img
      max-width 30%
      transition .7s max-width
  &__main
    .container
      display flex
      justify-content space-between
  .footer
    pos absolute
    z-index 11
    b 17px
    r 30px
    l 30px
    @media $LandscapeMedium
      dn()