.iveg
  &__over
    pl 187px
    pos relative
    @media $desktopMin
      pl 0
    &.hide
      & ^[0]
        &__title
        &__hrefover,
        &__icon,
        &__bottom
          l -20px
          opacity 0
          transition .7s opacity, .7s left
    &.absolute
      pos absolute
      left -100%
  &__back
    cursor pointer
    pos absolute
    w 27px
    h 25px
    l 10px
    t 30px
    opacity 0
    background url('../i/arleft_black.png') no-repeat 0 -756px
    transition .5s left, .5s opacity
    &:hover
      animation arrAnimation 1s steps(28)
  &__icon
    pos absolute
    t 20px 
    l 0
    ml -68px
    opacity 0
    transition .7s opacity, .7s top, .7s left
    @media $lDesktopMax
      ml 0
    @media $desktopMin
      pos static
      db()
      ml 0
      mb 30px
    @media $LandscapeMedium
      mb 15px
      w 103px
  &__title
    pos relative
    color $dark
    fontify 42px 400 46px
    mb 10px
    max-width 630px
    b -20px
    l 0
    opacity 0
    transition .7s opacity, .7s bottom, .7s left
    @media $lDesktopMax
      fontify 38px 400 42px
    @media $lDesktopMedium
      fontify 36px 400 40px
      mb 17px
    @media $LandscapeMedium
      fontify 23px 400 27px
      max-width 240px
    @media $PortraitMin
      mb 10px
  &__hrefover
    pos relative
    mb 50px
    color $dark
    fontify 160px 700 164px
    max-width 1376px
    ml -6px
    b -20px
    l 0
    opacity 0
    transition .7s opacity, .7s bottom, .7s left
    @media $lDesktopMax
      fontify 130px 700 133px
    @media $lDesktopMedium
      fontify 114px 700 118px
    @media $lDesktopSmall
      w calc(100% + 40px)
    @media $desktopMax
      fontify 84px 700 93px
      max-width 730px
      w 100%
    @media $desktopMin
      max-width 460px
    @media $LandscapeMedium
      fontify 0px 700 52px
      overflow hidden
      mb 30px
      ml 0
    @media $PortraitMin
      line-height 43px
  &__href
    ib()
    cursor pointer
    pos relative
    color $dark
    fontify 160px 700 164px
    @media $lDesktopMax
      fontify 130px 700 133px
    @media $lDesktopMedium
      fontify 114px 700 118px
    @media $desktopMax
      fontify 84px 700 93px
    @media $LandscapeMedium
      fontify 48px 700 52px
      float left
      clear both
      & + &
        mt 10px
        @media $PortraitMin
          mt 5px
    @media $PortraitMin
      fontify 36px 700 43px
    &:after
      content ""
      bgc $dark
      pos absolute
      b 10px
      l 0
      w 100%
      h 3px
      transition .7s bottom, .7s opacity
      @media $LandscapeMedium
        b 2px
        h 2px
    &:before
      content ""
      pos absolute
      opacity 0
      transition .7s opacity, .7s top
      @media $LandscapeMedium
        dn()
    &[data-type="tomato"]:before
      size 123px
      background url('../i/tomato-hover.png') no-repeat center
      background-size 100% 100%
      l 45px
      t 48px
      @media $lDesktopMax
        size 110px
        l 34px
      @media $lDesktopMedium
        size 87px
      @media $desktopMax
        size 67px
        l 23px
    &[data-type="tomato"]:hover:before
      t 37px
      @media $lDesktopMax
        t 28px
      @media $desktopMin
        t 26px
    &[data-type="cucumber"]:before
      size 75px 173px
      background url('../i/cucumber-hover.png') no-repeat center
      background-size 100% 100%
      l 150px
      t 37px
      @media $lDesktopMax
        size 56px 130px
        l 124px
      @media $lDesktopMedium
        size 48px 110px
        l 110px
      @media $desktopMax
        size 39px 90px
        l 77px
    &[data-type="cucumber"]:hover:before
      t 27px
      @media $lDesktopMax
        t 28px
      @media $desktopMax
        t 26px
    &[data-type="peppers"]:before
      size 113px 122px
      background url('../i/pepper-hover.png') no-repeat center
      background-size 100% 100%
      l 150px
      t 37px
      @media $lDesktopMax
        size 93px 100px
        l 124px
      @media $lDesktopMedium
        size 74px 80px
        l 110px
      @media $desktopMax
        size 56px 60px
        l 84px
    &[data-type="peppers"]:hover:before
      t 27px
      @media $lDesktopMax
        t 28px
      @media $desktopMax
        t 26px
    &[data-type="eggplant"]:before
      size 77px 179px
      background url('../i/eggplant-hover.png') no-repeat center
      background-size 100% 100%
      r -28px
      t 13px
      @media $lDesktopMax
        size 56px 130px
        r -16px
      @media $lDesktopMedium
        size 47px 110px
      @media $desktopMax
        size 39px 90px
        r -12px
    &[data-type="eggplant"]:hover:before
      t 3px
      @media $desktopMax
        t 1px
    &:hover
      background-size 100% 0px
      &:after
        b 5px
        opacity 0
      &:before
        opacity 1
  &__bottom
    display flex
    justify-content space-between
    pos relative
    l 0
    transition .7s opacity, .7s left
    transition-delay 1.2s
    @media $desktopMax
      justify-content flex-start
  &__content
    pl 102px
    pos relative
    @media $desktopMax
      max-width 320px
    @media $LandscapeMedium
      dn()
    &:before
      content ""
      pos absolute
      l 6px
      t 11px
      w 0
      h 1px
      bgc $dark
      transition .7s width
  &__text
    color $dark
    fontify 16px 400 23px
    mb 30px
    max-width 430px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 14px 400 21px
  &__catover
    w 460px
    @media $desktopMax
      w auto
      ml 50px
    @media $LandscapeMedium
      ml 0
  &__tocat
    pos relative
    color $dark
    fontify 14px 700 23px
    text-transform uppercase
    letter-spacing .1em
    border-bottom 1px solid alpha($dark, .25)
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom, .7s border
    @media $lDesktopMedium
      fontify 12px 700 21px
    &:hover
      border-color transparent
  &__type
    *
      user-select none
    &:before
      content attr(data-percent)
      color $green
      fontify 14px 400 20px
      pos absolute
      t 30px
      l 50%
      transform translateX(-50%)
    .h-step1
      pos relative
      t 0
      opacity 1
      transition .7s top, .7s opacity
    .h-step2
      pos absolute
      l -200%
      b -20px
      opacity 0
      transition .7s bottom, .7s opacity
    &.absolute
      pos absolute
      l -200%
    &.step2-starter
      .h-step1
        t -20px
        opacity 0
    &.step2
      & ^[0]__type-col:last-child
        pt 255px
        @media $desktopMax
          pt 155px
      .h-step1
        pos absolute
        l -200%
        t -20px
        opacity 0
      .h-step2
        l 0
        pos relative
        b 0
        opacity 1
    &.step1-starter
      .h-step2
        b -20px
        opacity 0
    &:not(.hide)
      & ^[0]__back
        opacity 1
        l 30px
        transition-delay 1.4s
      & ^[0]__type
        &-anim
          opacity 1
          t 50%
          transition-delay 1s
        &-title
          opacity 1
          b 0
          transition-delay .2s
        &-square,
        &-text
          opacity 1
          b 0
          transition-delay .4s
        &-square-sub,
        &-future
          opacity 1
          b 0
          transition-delay .6s
        &-future:before
          w 70px
          transition-delay .8s
        &-hint
          opacity 1
          b 0
          transition-delay 1.2s
    &-anim
      pos absolute
      t 52%
      l 50%
      z-index 1
      transform translate(-54%, -54%)
      opacity 0
      transition .7s opacity, .7s top
      @media $lDesktopMax
        transform translate(-50%, -50%) scale(.9)
      @media $lDesktopMedium
        transform translate(-50%, -50%) scale(.8)
      @media $desktopMax
        transform translate(-50%, -50%) scale(.7)
      &[data-type="tomato"]
        size 565px 806px
        background url('../i/tomato-seq.png') no-repeat 0 0
    &-title
      color #181818
      fontify 240px 700 173px
      text-align center
      mb 50px
      pl 17px
      pos relative
      b -20px
      opacity 0
      @media $lDesktopMax
        fontify 200px 700 144px
      @media $desktopMax
        fontify 140px 700 106px
      transition .7s opacity, .7s bottom
    &-cols
      display flex
      justify-content space-between
      align-items stretch
    &-col
      w 462px
      &_spacer
        w 676px
        align-self flex-end
    &-square
      color $dark
      fontify 120px 400 144px
      mb 15px
      ml -5px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMax
        fontify 100px 400 82px
        mb 35px
      @media $desktopMax
        fontify 76px 400 82px
      &-sub
        color $dark
        fontify 42px 400 46px
        max-width 410px
        mb 66px
        pos relative
        b -20px
        opacity 0
        transition .7s opacity, .7s bottom
        @media $lDesktopMax
          fontify 36px 400 40px
        @media $lDesktopMedium
          mb 45px
        @media $desktopMax
          fontify 28px 400 35px
    &-text
      color $dark
      fontify 46px 400 46px
      mb 40px
      pt 104px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMax
        fontify 36px 400 40px
      @media $lDesktopMedium
        pt 94px
      @media $desktopMax
        fontify 28px 400 35px
        pt 64px
    &-future
      color $dark
      fontify 16px 400 23px
      pl 99px
      pos relative
      max-width 410px
      mb 66px
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        mb 45px
      @media $lDesktopMedium
        fontify 14px 400 21px
      @media $desktopMedium
        pl 0
      &:before
        content ""
        pos absolute
        l 6px
        t 11px
        w 0
        h 1px
        bgc $dark
        transition .7s width
        @media $desktopMedium
          dn()
    &-hint
      color $dark
      fontify 16px 400 23px
      pos relative
      max-width 220px
      margin 0 auto
      text-align center
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 14px 400 21px
      &:before
        content ""
        pos absolute
        size 80px 38px
        t -50px
        l 50%
        ml -40px
        background url('../i/cut-icon.gif') no-repeat center
    &-mainfeat
      color $dark
      fontify 120px 700 124px
      mb 58px
      @media $lDesktopMax
        fontify 100px 700 104px
      @media $desktopMax
        fontify 76px 400 72px
        mb 38px
    &-name
      color $dark
      fontify 16px 400 23px
      pl 130px
      @media $lDesktopMedium
        fontify 14px 400 21px
      @media $desktopMax
        pl 80px
    &-tocat
      ib()
      color $dark
      fontify 14px 700 16px
      text-transform uppercase
      letter-spacing .1em
      mt -28px
      ml 3px
      pos relative
      &:after
        content ""
        pos absolute
        bgc alpha($dark, .25)
        w 100%
        h 1px
        b 0
        l 50%
        transform translateX(-50%)
        transition .7s width
      &:hover:after
        w 0