.contacts
  &__about
    display flex
    align-items stretch
    justify-content space-between
    mt -74px
    @media $desktopMin
      mt 74px
      flex-direction column
      align-items flex-start
      justify-content flex-start
    @media $LandscapeMedium
      mt 44px
    &-textarea
      color $dark
      fontify 26px 400 33px
      w calc(50% - 21px)
      max-width 462px
      align-self center
      @media $lDesktopSmall
        fontify 23px 400 30px
        max-width 380px
      @media $desktopMin
        fontify 20px 400 27px
        align-self flex-start
        max-width 460px
        w 100%
      span
        db()
        fontify 42px 400 46px
        mb 40px
        @media $lDesktopSmall
          fontify 36px 400 40px
        @media $desktopMin
          fontify 30px 400 34px
          mb 20px
    &-imgs
      pos relative
      z-index 1
      h 430px
      w calc(50% - 21px)
      display flex
      @media $desktopMax
        h 460px
      @media $LandscapeMedium
        dn()
    &-img
      background url('../i/contacts1.jpg') no-repeat top left
      size 0 389px
      pos absolute
      z-index -1
      l 0
      t -130px
      transition .7s width
      @media $desktopMax
        t -100px
      @media $lDesktopMedium
        h 330px
        background-size 543px 330px
      @media $desktopMin
        t 0
        mt 40px
      &.visible
        w 648px
        @media $lDesktopMedium
          w 543px
  &__info
    display flex
    justify-content space-between
    @media $desktopMin
      flex-direction column
    @media $LandscapeMedium
      mt 50px
  &__col
    @media $desktopMin
      & + &
        mt 60px
    &_wide
      w 740px
      @media $desktopMax
        w 620px
      @media $desktopMedium
        w 550px
      @media $desktopMin
        w 100%
    &_short
      w 546px
      @media $lDesktopSmall
        w 346px
      @media $desktopMin
        w 100%
  &__row
    & + &
      mt 80px
      @media $desktopMin
        mt 30px
  &__phone
    ib()
    color $dark
    fontify 100px 400 90px
    @media $desktopMax
      fontify 86px 400 79px
    @media $desktopMedium
      fontify 70px 400 69px
    @media $LandscapeMedium
      fontify 47px 400 47px
    @media $PortraitMedium
      fontify 30px 400 30px
    &-title
      color $dark
      mb 10px
      fontify 26px 400 33px
      @media $lDesktopSmall
        fontify 23px 400 30px
      @media $desktopMin
        fontify 20px 400 27px
  &__email
    ib()
    color $dark
    fontify 26px 400 33px
    border-bottom 1px solid alpha($dark, .25)
    transition .7s border
    &:hover
      border-color transparent
    @media $lDesktopSmall
      fontify 23px 400 30px
    @media $desktopMin
      fontify 20px 400 27px
    &-title
      fontify 42px 400 46px
      mb 30px
      @media $lDesktopSmall
        fontify 36px 400 40px
      @media $desktopMin
        fontify 30px 400 34px
  &__socials
    pos relative
    color $dark
    fontify 26px 400 33px
    pt 7px
    @media $lDesktopSmall
      fontify 23px 400 30px
    @media $desktopMin
      fontify 20px 400 27px
    &-elem
      color $dark
      fontify 26px 400 33px
      white-space nowrap
      pos relative
      @media $lDesktopSmall
        fontify 23px 400 30px
      @media $desktopMin
        fontify 20px 400 27px
      &:after
        content ""
        pos absolute
        bgc alpha($dark, .25)
        h 1px
        b 0
        r 0
        transition .7s background, .7s bottom
      &:hover:after
        bgc transparent
        b -2px
      &:hover
        border-color transparent
      &:before
        content ""
        ib()
        mr 7px
      &[data-type="inst"]:before
        size 17px
        mt 9px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAXVBMVEUYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBj///8/ATimAAAAHXRSTlMACYXjiQsKxcaEmC2l4h0s4WZEgxaR/gFlRojEhklyL88AAAABYktHRB5yCiArAAAACXBIWXMAAAsSAAALEgHS3X78AAAAeUlEQVQY033PSxKDIBAE0FYQRk0MauIvzv2vGQSCyMJeDa+6gAGKUvA/QlaA0pyGFOrk2LQPrvFMpMOLDUK5H3ri8f3hyYucAczSzU7oAEsUZYHPEmUNst50dLhHR+Etf8u27H++bpog+BqDPZMRivLdUclzWbMr/ADjcxfe9IRZagAAAABJRU5ErkJggg==") no-repeat center
        @media $desktopMin
          mt 5px
      &[data-type="inst"]:after
        l 19px
      &[data-type="fb"]:before
        size 11px 20px
        mt 7px
        background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUBAMAAACpAtpbAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAKlBMVEWAgIAYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBgYGBj///88f1/kAAAADHRSTlMAEUQzu2bMVZl3It0rAU2IAAAAAWJLR0QN9rRh9QAAAAlwSFlzAAALEgAACxIB0t1+/AAAAERJREFUCNdjYGBgEFIGEgwiZ84EAKkcMMV+5syZAgYGjjOHQFIcZw4gKM1pZ07OXMAwB6jiDJRiAFOn0VWSQDGHAm0DAMz4KRfg0dYlAAAAAElFTkSuQmCC") no-repeat center
        @media $desktopMin
          mt 5px
      &[data-type="fb"]:after
        l 14px
  &__mapover
    mt 140px
    mb -40px
    w 100vw
    h 60vh
    pos relative
    l 50%
    transform translateX(-50%)
    @media $desktopMax
      mt 90px
  &__map
    w 100%
    h 100%
.iroad
  &__back
    cursor pointer
    pos absolute
    w 27px
    h 25px
    l 10px
    t 30px
    opacity 0
    z-index 30
    visibility hidden
    background url('../i/arleft_white.png') no-repeat 0 -756px
    transition .5s left, .5s opacity
    &:hover
      animation arrAnimation 1s steps(28)
  &__title
    pos relative
    color white
    fontify 120px 400 124px
    max-width 540px
    mb 23px
    opacity 0
    b -20px
    ml -5px
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 100px 400 104px
    @media $desktopMin
      fontify 80px 400 84px
    @media $LandscapeMedium
      dn()
  &__feat
    pos relative
    color white
    fontify 42px 400 46px
    mb 37px
    opacity 0
    b -20px
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 36px 400 40px
    @media $desktopMin
      fontify 30px 400 34px
  &__content
    pl 102px
    pos relative
    @media $LandscapeMedium
      pl 0
    &:before
      content ""
      pos absolute
      l 6px
      t 11px
      w 0
      h 1px
      bgc white
      transition .7s width
      @media $LandscapeMedium
        dn()
  &__text
    color white
    fontify 16px 400 23px
    mb 30px
    max-width 430px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 14px 400 21px
    @media $LandscapeMedium
      mb 0
  &__where
    color white
    fontify 14px 700 16px
    text-transform uppercase
    letter-spacing .1em
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 12px 700 14px
    & + &
      ml 28px
    &:after
      content ""
      pos absolute
      bgc alpha(white, .25)
      w 100%
      h 1px
      b 0
      l 50%
      transform translateX(-50%)
      transition .7s width
    &:hover:after
      w 0
  &__btn
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom, .7s background, .7s color, .7s box-shadow
    &-over
      mt 177px
      text-align center
      @media $lDesktopMax
        mt 77px
      @media $lDesktopMedium
        mt 50px
      @media $LandscapeMedium
        text-align left
        mt 37px
  &__map
    pos absolute
    opacity .4
    w 100%
    h 100%
    t 0
    l 0
    opacity 0
    visibility hidden
    transition .7s opacity, .7s visibility
    filter: saturate(150%) brightness(83%)
.showmap
  .iroad__map
    opacity 1
    visibility visible
    z-index 2
  .iroad__back
    opacity 1
    l 30px
    visibility visible