.iemp
  &__title
    pos relative
    color white
    fontify 120px 400 124px
    max-width 540px
    mb 23px
    opacity 0
    b -20px
    ml -5px
    transition .7s opacity, .7s bottom
    @media $lDesktopMax
      fontify 110px 400 114px
    @media $lDesktopMedium
      fontify 100px 400 104px
    @media $desktopMax
      fontify 83px 400 76px
    @media $desktopMin
      fontify 80px 400 84px
    @media $LandscapeMedium
      fontify 36px 400 40px
      mb 0
      ml 0
  &__subtitle
    pos relative
    color white
    fontify 42px 400 46px
    opacity 0
    b -20px
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 36px 400 40px
    @media $desktopMin
      fontify 30px 400 34px
    @media $LandscapeMedium
      fontify 36px 400 40px
  &__content
    mt 66px
    pl 102px
    pos relative
    @media $LandscapeMedium
      pl 0
      mt 36px
    @media $PortraitMin
      mt 26px
    &:before
      content ""
      pos absolute
      l 6px
      t 11px
      w 0
      h 1px
      bgc white
      transition .7s width
      @media $LandscapeMedium
        dn()
  &__text
    color white
    fontify 16px 400 23px
    mb 30px
    max-width 430px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 14px 400 21px
  &__hrefs
    @media $PortraitMin
      display flex
      flex-direction column
      justify-content flex-start
      align-items flex-start
  &__more
    color white
    fontify 14px 700 16px
    text-transform uppercase
    letter-spacing .1em
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 12px 700 14px
    & + &
      ml 28px
      @media $PortraitMin
        ml 0
        mt 9px
    &:after
      content ""
      pos absolute
      bgc alpha(white, .25)
      w 100%
      h 1px
      b 0
      l 50%
      transform translateX(-50%)
      transition .7s width
    &:hover:after
      w 0
  &__btn
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom, .7s background, .7s color, .7s box-shadow
    &-over
      mt 177px
      text-align center
      @media $lDesktopMax
        mt 77px
      @media $lDesktopMedium
        mb 50px
      @media $desktopMin
        mb 0
      @media $LandscapeMedium
        text-align left
        mb 0
        mt 37px
      @media $PortraitMin
        mt 25px
