body[data-color="dark"]
  .footer
    color white

body[data-color="light"]
  .footer
    color $dark

.footer
  position fixed
  z-index 11
  b 25px
  r 30px
  color white
  fontify 14px 700 21px
  &_inner
    pos relative
    b 0
    l 0
    r auto
    display flex
    justify-content space-between
    align-items flex-start
    mt 85px
    @media $PortraitMedium
      flex-direction column
      mt 50px
  &__copy
    color $dark
    fontify 12px 700 21px
  &__dextra
    color silver
    font-family Verdana
    fontify 9px 400 14px
    text-transform uppercase
    letter-spacing .18em
    pos relative
    @media $PortraitMedium
      ml 85px
      mt 10px
    span
      pos absolute
      t 2px
      r calc(100% + 10px)
      bgc #dfdfdf
      color white
      font-family Arial
      fontify 12px 900 21px
      text-transform uppercase
      letter-spacing .1em
      padding 0 6px
      border-radius 3px
      transition .7s background
    &:hover span
      bgc $green
  @media $LandscapeMedium
    &:not(&_inner)
      dn()
  
.progress
  h 6px
  pos fixed
  z-index 12
  t 0
  l 0
  w 0
  bgc $green
  transition .5s width

.locker
  dn()
  pos fixed
  justify-content center
  align-items center
  flex-direction column
  t 0
  l 0
  r 0
  b 0
  padding 20px
  z-index 99
  bgc alpha(black, 0.90)
  &__text
    color white
    fontify 16px 400 22px
    mt 10px
    
html.lock 
  .locker
    display flex
  .content
    opacity 0