.inews
  &__title
    color $dark
    fontify 72px 400 64px
    mb 44px
  &__grid
    display flex
    flex-wrap wrap
    justify-content space-between
    pos relative
  &__href
    pos absolute
    r 0
    t -104px
    color $dark
    fontify 14px 700 16px
    text-transform uppercase
    letter-spacing 0.1em
    &:after
      content ""
      pos absolute
      bgc alpha($dark, .25)
      w 100%
      h 1px
      b 0
      l 50%
      transform translateX(-50%)
      transition .7s width
    &.active:after,
    &:hover:after
      w 0
  &__elem
    w calc(50% - 40px)
    display flex
    flex-direction row-reverse
    justify-content space-between
    &_wide
      w 100%
      align-items center
      mb 80px
      & ^[-1]-href
        fontify 42px 400 46px
        span
          t 9px
      & ^[-1]-date
        mb -4px
    &-side
      w 47%
    &-imgover
      db()
      pt 46%
      w 0
      bgc $dark
      pos relative
      overflow hidden
      transition .7s width
    &-img
      position absolute
      left 0
      top 50%
      //min-height 100%
      //min-width 100%
      opacity .8
      will-change transform
      transition 7s transform, .7s opacity
      transform translate(0, -50%) scale(1)
      &:hover
        opacity 1
        transform translate(0, -50%) scale(1.08)
    &-content
      w 48%
      mt -5px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
    &-date
      color $dark
      fontify 14px 700 21px
      text-transform uppercase
      letter-spacing .1em
    &-href
      color $dark
      fontify 30px 400 34px
      border-bottom 1px solid alpha($dark, .25)
      transition .5s border
      span
        pos relative
        t 5px
      &:hover
        border-color transparent